// Lost options

@lost flexbox flex;

// Rupture options

rupture.mobile-cutoff = 768px
rupture.desktop-cutoff = 1200px
rupture.scale = 0 (rupture.mobile-cutoff) 992px (rupture.desktop-cutoff) 1400 (rupture.hd-cutoff)
rupture.anti-overlap = true