@font-face {
  font-family: 'robofan';
  src: url("../fonts/robofan_free-webfont.woff2") format('woff2'), url("../fonts/robofan_free-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
body {
  font-family: sans-serif;
  font-size: 12px;
  background-color: #151516;
  color: #bcbcbc;
}
.float-right {
  float: right;
}
.no-float {
  float: none;
  clear: both;
}
.flexed {
  display: -webkit-box;
  display: flex;
}
.flexed--center {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.flexed--columns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.btn-primary {
  padding: 5px 10px;
  background: #008b8b;
  width: auto;
  color: #fff;
  border-radius: 5px;
}
.btn-primary--lg {
  padding: 8px 12px;
}
.home,
.main-header__content,
.main-footer__background {
  background-image: url("../images/bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.main-header__content {
  background-position: center bottom;
}
.home {
  width: 100%;
  height: 100%;
}
.home__bg-line {
  position: fixed;
  background: rgba(255,255,255,0.6);
  width: 100%;
  height: 6px;
  z-index: 1;
  box-shadow: 1px 1px 20px 10px #fff;
}
.home__logo {
  width: 194px;
  height: 194px;
  background: #151516;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 1px 1px 16px 16px #fffffd;
}
.home__slogan {
  position: absolute;
  bottom: 3%;
  font-family: robofan, sans-serif;
  font-weight: normal;
  color: #fff;
}
.logo {
  display: block;
  color: #fff;
  font-size: 33px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  text-align: center;
}
.logo__top {
  margin-bottom: 5px;
}
.logo__bottom {
  text-transform: uppercase;
  font-size: 50%;
}
.logo__sci {
  color: #008b8b;
}
.logo__fi {
  color: #92e7e7;
}
.intro {
  width: 350px;
  height: 350px;
  position: relative;
}
@media only screen and (max-width: 480px) {
  .intro {
    zoom: 0.8;
  }
}
.intro__btn {
  width: 50px;
  height: 50px;
  position: absolute;
  background: #fffffd;
  z-index: 3;
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 25px;
  box-shadow: 1px 1px 16px 16px #e7e4e3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #151516;
}
.intro__btn:hover {
  background: #92e7e7;
  box-shadow: 1px 1px 16px 16px #008b8b;
  color: #fff;
}
.intro__btn:hover .intro__label {
  visibility: visible;
}
.intro__btn:hover .intro__label-text {
  opacity: 1;
}
.intro__btn--a {
  -webkit-animation: rotate-a 50s linear infinite;
  animation: rotate-a 50s linear infinite;
}
.intro__btn--a .intro__label {
  left: -267px;
}
.intro__btn--b {
  -webkit-animation: rotate-b 50s linear infinite;
  animation: rotate-b 50s linear infinite;
}
.intro__btn--b .intro__label {
  left: -67px;
  top: -267px;
}
.intro__btn--c {
  -webkit-animation: rotate-c 50s linear infinite;
  animation: rotate-c 50s linear infinite;
}
.intro__btn--c .intro__label {
  left: 133px;
}
.intro__btn--d {
  -webkit-animation: rotate-d 50s linear infinite;
  animation: rotate-d 50s linear infinite;
}
.intro__btn--d .intro__label {
  left: -67px;
  top: 133px;
}
.intro__icon {
  -webkit-animation: keep-position 50s linear infinite;
  animation: keep-position 50s linear infinite;
}
.intro__label {
  position: absolute;
  background: #151516;
  width: 184px;
  height: 184px;
  border-radius: 50%;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  display: -webkit-box;
  display: flex;
  visibility: hidden;
}
.intro__label-text {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-animation: keep-position 50s linear infinite;
  animation: keep-position 50s linear infinite;
}
.main-header {
  border-top: 1px solid rgba(0,0,0,0);
}
.main-header__mobile-logo {
  margin-bottom: 15px;
  display: none;
}
@media only screen and (max-width: 480px) {
  .main-header__mobile-logo {
    display: block;
  }
}
.main-header__content {
  height: 620px;
  border-bottom: 5px solid #92e7e7;
}
.top-menu {
  height: 50px;
  position: relative;
  margin-top: 100px;
  width: 100%;
}
@media only screen and (max-width: 960px) {
  .top-menu {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 480px) {
  .top-menu {
    margin-top: 0;
    height: auto;
  }
}
.top-menu__content {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
@media only screen and (max-width: 480px) {
  .top-menu__content {
    flex-wrap: wrap;
    padding: 5px;
    background: #fff;
    height: 130px;
  }
}
.top-menu__logo {
  position: absolute;
  top: -80px;
}
@media only screen and (max-width: 960px) {
  .top-menu__logo {
    top: -45px;
    width: 134px;
    height: 134px;
  }
}
.top-menu__logo-wrapper {
  width: 190px;
  height: 50px;
  background: #fff;
}
@media only screen and (max-width: 960px) {
  .top-menu__logo-wrapper {
    width: 134px;
  }
}
@media only screen and (max-width: 480px) {
  .top-menu__logo-wrapper {
    display: none;
  }
}
.top-menu__btn {
  color: #151516;
  height: 50px;
  width: 175px;
  line-height: 50px;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media only screen and (max-width: 480px) {
  .top-menu__btn {
    width: 50%;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    flex-direction: row !important;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
  }
}
.top-menu__btn:hover {
  background: #92e7e7;
  box-shadow: 1px 1px 8px 8px #008b8b;
  color: #fff;
}
.top-menu__btn:hover .top-menu__icon {
  color: #008b8b;
}
.top-menu__btn--inverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}
.top-menu__btn--inverse .top-menu__icon {
  margin-right: -37px;
  margin-left: 0;
}
.top-menu__btn--inverse .top-menu__label {
  padding-right: 0;
  padding-left: 40px;
}
.top-menu__icon {
  width: 50px;
  height: 50px;
  margin-left: -37px;
  background: #fffffd;
  z-index: 3;
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 25px;
  box-shadow: 1px 1px 11px 6px #e7e4e3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #151516;
}
@media only screen and (max-width: 960px) {
  .top-menu__icon {
    margin: 0 auto !important;
  }
}
@media only screen and (max-width: 480px) {
  .top-menu__icon {
    margin: 0 !important;
    width: 40px;
    height: 40px;
    font-size: 21px;
  }
}
.top-menu__label {
  padding-right: 40px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
@media only screen and (max-width: 960px) {
  .top-menu__label {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .top-menu__label {
    display: block;
    padding: 0 !important;
    text-align: left;
    margin-left: 10px;
  }
}
.content-wrap {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -260px;
  -webkit-transition: margin-top 0.5s;
  transition: margin-top 0.5s;
}
@media only screen and (max-width: 1200px) {
  .content-wrap {
    margin-top: -450px;
  }
}
.featured-block {
  border-top: 5px solid #92e7e7;
  min-height: 350px;
  width: 100%;
  background: url("../images/pattern1.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 5px;
}
.featured-block__title {
  color: #008b8b;
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-family: robofan, sans-serif;
  font-weight: normal;
  font-size: 28px;
}
.featured-block__title:before,
.featured-block__title:after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 215px;
  height: 2px;
  left: 102px;
  top: 33px;
  background: #fff;
}
@media only screen and (max-width: 960px) {
  .featured-block__title:before,
  .featured-block__title:after {
    display: none;
  }
}
.featured-block__title:after {
  left: auto;
  right: 102px;
}
.featured-block__title--sub {
  display: block;
  font-family: sans-serif;
  font-size: 80%;
  color: #92e7e7;
}
.featured-block__movies {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-bottom: 25px;
}
@media only screen and (max-width: 480px) {
  .featured-block__movies {
    flex-wrap: wrap;
  }
  .featured-block__movies > a {
    width: 50%;
  }
}
.movie {
  margin: 0 15px;
  padding: 15px;
  border: 1px solid #323232;
  box-shadow: 1px 1px 5px 7px #090909;
  color: #92e7e7;
}
@media only screen and (max-width: 480px) {
  .movie {
    width: 87%;
  }
}
.movie__title {
  color: #008b8b;
}
.movie__director {
  margin-bottom: 0;
}
.movie__img {
  width: 100%;
}
.global-separator {
  margin: 20px 0;
}
.movie-details {
  background: #151516;
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #008b8b;
  border-right: 1px solid #008b8b;
  margin-bottom: 25px;
  box-shadow: 1px 1px 4px 0 #92e7e7;
}
.movie-details__title {
  color: #008b8b;
  font-size: 25px;
  font-family: robofan, sans-serif;
  font-weight: normal;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 0;
}
.movie-details__title-icon {
  color: #92e7e7;
  font-size: 15px !important;
  margin-right: 15px;
}
.movie-details__content {
  display: -webkit-box;
  display: flex;
}
@media only screen and (max-width: 480px) {
  .movie-details__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
.movie-details__info {
  -webkit-box-flex: 2;
  flex: 2;
  padding: 15px;
}
.movie-details__info table {
  font-family: sans-serif;
  font-size: 15px;
}
.movie-details__info th,
.movie-details__info td {
  padding: 5px;
}
.movie-details__info th {
  text-align: left;
  width: 100px;
}
.movie-details__trailer {
  -webkit-box-flex: 3;
  flex: 3;
  padding: 15px;
}
.movie-details--switch-cols .movie-details__content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}
.main-footer {
  background: #000;
}
.main-footer__background {
  background-position: center bottom;
  height: 350px;
  border-top: 5px solid #92e7e7;
  margin-top: -300px;
  box-shadow: 1px 1px 13px -1px #008b8b;
}
.main-footer__content {
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
@media only screen and (max-width: 1200px) {
  .main-footer__content {
    padding: 20px;
  }
}
.main-footer__signature {
  text-align: right;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}
.main-footer__signature a {
  color: #008b8b;
}
.regular-content {
  font-size: 16px;
  margin: 15px auto;
  width: 100%;
  max-width: 960px;
  line-height: 25px;
}
.regular-content a {
  color: #fff;
}
.regular-content p {
  margin: 10px 0;
}
.regular-content__title {
  font-size: 21px;
  color: #92e7e7;
  margin: 20px 0;
}
.regular-content__col {
  -webkit-box-flex: 1;
  flex: 1;
  padding: 15px;
}
.regular-content__col img {
  width: 100%;
}
.regular-content__list h3 {
  color: #92e7e7;
  margin: 15px 0;
}
@media only screen and (max-width: 960px) {
  .regular-content__cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@-webkit-keyframes rotate-a {
  from {
    -webkit-transform: rotate(0deg) translateX(200px);
    transform: rotate(0deg) translateX(200px);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(200px);
    transform: rotate(360deg) translateX(200px);
  }
}
@keyframes rotate-a {
  from {
    -webkit-transform: rotate(0deg) translateX(200px);
    transform: rotate(0deg) translateX(200px);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(200px);
    transform: rotate(360deg) translateX(200px);
  }
}
@-webkit-keyframes rotate-b {
  from {
    -webkit-transform: rotate(0deg) translateY(200px);
    transform: rotate(0deg) translateY(200px);
  }
  to {
    -webkit-transform: rotate(360deg) translateY(200px);
    transform: rotate(360deg) translateY(200px);
  }
}
@keyframes rotate-b {
  from {
    -webkit-transform: rotate(0deg) translateY(200px);
    transform: rotate(0deg) translateY(200px);
  }
  to {
    -webkit-transform: rotate(360deg) translateY(200px);
    transform: rotate(360deg) translateY(200px);
  }
}
@-webkit-keyframes rotate-c {
  from {
    -webkit-transform: rotate(0deg) translateX(-200px);
    transform: rotate(0deg) translateX(-200px);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(-200px);
    transform: rotate(360deg) translateX(-200px);
  }
}
@keyframes rotate-c {
  from {
    -webkit-transform: rotate(0deg) translateX(-200px);
    transform: rotate(0deg) translateX(-200px);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(-200px);
    transform: rotate(360deg) translateX(-200px);
  }
}
@-webkit-keyframes rotate-d {
  from {
    -webkit-transform: rotate(0deg) translateY(-200px);
    transform: rotate(0deg) translateY(-200px);
  }
  to {
    -webkit-transform: rotate(360deg) translateY(-200px);
    transform: rotate(360deg) translateY(-200px);
  }
}
@keyframes rotate-d {
  from {
    -webkit-transform: rotate(0deg) translateY(-200px);
    transform: rotate(0deg) translateY(-200px);
  }
  to {
    -webkit-transform: rotate(360deg) translateY(-200px);
    transform: rotate(360deg) translateY(-200px);
  }
}
@-webkit-keyframes keep-position {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes keep-position {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
